{% extends 'base.html.twig' %}

{% block title %}{% trans %}Edit Visitor{% endtrans %}{% endblock %}

{% block body %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="www.gob.mx"><i class="icon icon-home"></i></a></li>
        <li class="breadcrumb-item"><a href="{{ path('app_index') }}">{% trans %}Begin{% endtrans %}</a></li>
        <li class="breadcrumb-item"><a href="{{ path('app_visitor_index') }}">{% trans %}Visitor{% endtrans %}</a></li>
        <li class="breadcrumb-item active" aria-current="page"><a href="{{ path('app_visitor_edit', {'id': visitor.id}) }}">{% trans %}Edit{% endtrans %}</a></li>
    </ol>

    <h1>{% trans %}Edit Visitor{% endtrans %}</h1>
    <hr class="red">

    <div class="row">
        <div class="col-md-6">
            {{ include('visitor/_form.html.twig', {'form': form, 'button_label': 'Update'}) }}
        </div>
    </div>

    {% if is_granted('ROLE_SUPER_ADMIN') %}
    <div class="row">
        <div class="col-md-10"></div>
        <div class="col-md-1">
            {{ include('visitor/_delete_form.html.twig') }}
        </div>
    </div>
    {% endif %}
{% endblock %}
