{% extends 'base.html.twig' %}

{% block title %}{% trans %}New Visitor{% endtrans %}{% endblock %}

{% block body %}
    <ol class="breadcrumb">
	<li class="breadcrumb-item"><a href="www.gob.mx"><i class="icon icon-home"></i></a></li>
	<li class="breadcrumb-item"><a href="{{ path('app_index') }}">{% trans %}Begin{% endtrans %}</a></li>
	<li class="breadcrumb-item"><a href="{{ path('app_visitor_index') }}">{% trans %}Visitor{% endtrans %}</a></li>
	<li class="breadcrumb-item active" aria-current="page"><a href="{{ path('app_visitor_new') }}">{% trans %}New Visitor{% endtrans %}</a></li>
    </ol>

    <h1>{% trans %}Create new Visitor{% endtrans %}</h1>
    <hr class="red">

    <div class="row" {{ stimulus_controller('webrtc') }} data-webrtc-logo-url="{{ asset('images/iner-logo.png') }}">
        <div class="col-md-6">
            {{ include('visitor/_form.html.twig', {
                'form': form,
                'button_label': 'Save',
                'form_attr': {
                    'data-webrtc-target': 'form',
                    'data-action': 'submit->webrtc#capture'
                }
            }) }}
        </div>
	<div class="col-md-6 d-flex align-items-center justify-content-center">
	    <video data-webrtc-target="video" width="480" height="360" class="border" poster="{{ asset('images/iner-logo.png') }}" autoplay></video>
	    <canvas data-webrtc-target="canvas" class="d-none"></canvas>
	</div>
    </div>
{% endblock %}
